    .center {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 10px;
    }

    body {
        background-image: url('../img/armory_bg.jpg');
        background-size: 1920px 1080px;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: #1a0407;
    }

    .logo {
        background-image: url("../img/armory-logo-en.png");
        height: 150px;
        background-size: contain;
        background-position: center top;
        background-repeat: no-repeat;
    }

    .character-select {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 20px;
        padding: 10px;
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .grid-container {
        display: grid;
        width: 572;
        grid-template-columns: 92px 92px 92px 92px 92px 92px;
        grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
        grid-gap: 5px 5px;
    }

    .grid-item {
        text-align: center;
        border: 2px solid black;
        width: auto;
        border-radius: 5px;
        padding: 5px 5px 5px 5px;
    }

    .item-head {
        grid-row: 1;
        grid-column: 1/2;
        width: 72px;
        height: 72px;
        background-image: url("../img/1_head.png");
        background-size: 100%;
    }

    .item-name {
        grid-row: 1;
        grid-column: 2/6;
        width: 363px;
        height: 72px;
    }

    .item-hands {
        grid-row: 1;
        grid-column: 6/7;
        width: 72px;
        height: 72px;
        background-image: url("../img/10_hands.png");
        background-size: 100%;
    }

    .item-neck {
        grid-row: 2;
        grid-column: 1/2;
        width: 72px;
        height: 72px;
        background-image: url("../img/2_neck.png");
        background-size: 100%;
    }

    .item-stats {
        grid-row: 2/9;
        grid-column: 2/6;
        width: 363px;
        height: 582px;
    }

    .item-waist {
        grid-row: 2;
        grid-column: 6/7;
        width: 72px;
        height: 72px;
        background-image: url("../img/6_waist.png");
        background-size: 100%;
    }

    .item-shoulders {
        grid-row: 3;
        grid-column: 1/2;
        width: 72px;
        height: 72px;
        background-image: url("../img/3_shoulder.png");
        background-size: 100%;
    }

    .item-legs {
        grid-row: 3;
        grid-column: 6/7;
        width: 72px;
        height: 72px;
        background-image: url("../img/7_legs.png");
        background-size: 100%;
    }

    .item-back {
        grid-row: 4;
        grid-column: 1/2;
        width: 72px;
        height: 72px;
        background-image: url("../img/15_back.png");
        background-size: 100%;
    }

    .item-feet {
        grid-row: 4;
        grid-column: 6/7;
        width: 72px;
        height: 72px;
        background-image: url("../img/8_feet.png");
        background-size: 100%;
    }

    .item-chest {
        grid-row: 5;
        grid-column: 1/2;
        width: 72px;
        height: 72px;
        background-image: url("../img/5_chest.png");
        background-size: 100%;
    }

    .item-finger1 {
        grid-row: 5;
        grid-column: 6/7;
        width: 72px;
        height: 72px;
        background-image: url("../img/11_finger1.png");
        background-size: 100%;
    }

    .item-shirt {
        grid-row: 6;
        grid-column: 1/2;
        width: 72px;
        height: 72px;
        background-image: url("../img/4_shirt.png");
        background-size: 100%;
    }

    .item-finger2 {
        grid-row: 6;
        grid-column: 6/7;
        width: 72px;
        height: 72px;
        background-image: url("../img/12_finger2.png");
        background-size: 100%;
    }

    .item-tabard {
        grid-row: 7;
        grid-column: 1/2;
        width: 72px;
        height: 72px;
        background-image: url("../img/19_tabard.png");
        background-size: 100%;
    }

    .item-trinket1 {
        grid-row: 7;
        grid-column: 6/7;
        width: 72px;
        height: 72px;
        background-image: url("../img/13_trinket1.png");
        background-size: 100%;
    }

    .item-wrists {
        grid-row: 8;
        grid-column: 1/2;
        width: 72px;
        height: 72px;
        background-image: url("../img/9_wrist.png");
        background-size: 100%;
    }

    .item-trinket2 {
        grid-row: 8;
        grid-column: 6/7;
        width: 72px;
        height: 72px;
        background-image: url("../img/14_trinket2.png");
        background-size: 100%;
    }

    .item-leftspace {
        grid-row: 9;
        grid-column: 1/3;
        width: 169px;
        height: 72px;
    }

    .item-mainhand {
        grid-row: 9;
        grid-column: 3/4;
        width: 72px;
        height: 72px;
        background-image: url("../img/16_mainhand.png");
        background-size: 100%;
    }

    .item-offhand {
        grid-row: 9;
        grid-column: 4/5;
        width: 72px;
        height: 72px;
        background-image: url("../img/17_offhand.png");
        background-size: 100%;
    }

    .item-rightspace {
        grid-row: 9;
        grid-column: 5/7;
        width: 169px;
        height: 72px;
    }

    .grid-container-main {
        display: grid;
        width: 100%;
        grid-template-columns: 72px 102px 102px 72px;
        grid-template-rows: 64px;
        grid-gap: 0px 5px;
        margin: -3px;
    }

    .grid-item-main {
        text-align: center;
        border: 2px solid black;
        width: auto;
        border-radius: 5px;
        padding: 2px 2px 2px 2px;
    }

    .main-item-race {
        grid-row: 1;
        grid-column: 1/2;
        width: 64px;
        height: 64px;
        background-image: url("../img/bg_questionmark.png");
        background-size: 100%;
    }

    .main-item-name {
        grid-row: 1;
        grid-column: 2/4;
        width: auto;
        height: 64px;
        align-content: center;
    }

    .main-item-class {
        grid-row: 1;
        grid-column: 4/5;
        width: 64px;
        height: 64px;
        background-image: url("../img/bg_questionmark.png");
        background-size: 100%;
    }

    .grid-container-main-info {
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 30px 30px;
        grid-gap: 2px 0px;
    }

    .grid-item-main-info {
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .grid-item-main-info-name {
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: x-large;
    }